
!!! 5
html(lang='en')
  head
    title Door Tracker
    script(src='jquery.js')
    script(src='doortracker-client.js')
  body
    h1 Get ready to track some doors, #{name}!
    form
    	input(type="submit", value="STORE THESE CREDZ", method="post", action="store_token")