
!!! 5
html(lang='en')
  head
    title Door Tracker
    script(src='jquery.js')
js

  h1 Get ready to track some doors, #{name} !
  br
  form
    input(type="button", value="PUSH DAT BUTTON", onclick="postPush('#{access_token}')")