!!! 5
html(lang='en')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# doortracker: http://ogp.me/ns/fb/doortracker#')
    meta(property='fb:app_id', content='423298101062880')
    meta(property='og:type', content='doortracker:room')
    meta(property='og:url', content='http://fbwerks.com:8000/zhen/cookie.html')
    meta(property='og:title', content='#{room_name}')
    meta(property='og:image', content='http://www.classcarpetny.com/wp-content/uploads/2012/03/room.jpg')
    title= room_name

  body
    h1 The coolest place to be is #{room_name}!
    fb:activity(actions='doortracker:enter')